.pricingBlock {
  box-shadow: 5px 10px 90px -10px rgba(0, 0, 0, 0.1);

  .prod {
    padding: 12% 15%;
    text-align: left;
    background: #fff;
    box-shadow: 5px 10px 90px -10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-flow: column;
  }
  .img {
    height: 100px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
  }

  img.ticket {
    height: 52px;
  }

  img.ticketChat {
    height: 80px;
    margin-left: -9px;
  }

  h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 2em;
    color: var(--primary-color);
  }
  .price {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 3em;
    color: var(--primary-color);
  }

  small {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
    color: #65676b;
    height: 90px;
  }

  @media (max-width: 575.98px) {
    .pricing {
      padding: 10%;
    }
  }

  @media (max-width: 991.98px), (min-width: 1199.98px) {
    h4 {
      font-size: 24px;
    }
  }
}
// For mobile
@media (max-width: 575.98px) {
  .pricingBlock {
    margin: 0% 10%;
  }
}
