.PricingIntro {
  text-align: left;
  padding: 0 3em 5em 0;
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: var(--primary-color);
  }
  small {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 3em;
    letter-spacing: 0.12em;
    text-align: left;
    color: var(--secondary-color);
  }
  p {
    font-size: 16px;
    line-height: 26px;
    color: var(--primary-color);
  }
}
@media (max-width: 575.98px) {
  .PricingIntro {
    text-align: center;
    padding: 0 0 5em 0;
  }
}
