.statBlock {
  background: #ffffff;
  box-shadow: 0px 1px 20px rgba(250, 149, 49, 0.15);
  border-radius: 16px;
  margin-bottom: 2em;

  .number {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 3em;
    text-align: center;
    background: linear-gradient(90deg, #ffbd39 0%, #fa9531 100%, #fa9531 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .desc {
    font-size: 16px;
    line-height: 24px;
    color: #65676b;
  }
  .textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .numberBlock {
    background: #fff url("../../../assets/img/dots.svg") center right no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 576px) {
    .numberBlock {
      background: #fff;
    }
  }
}
