.tryBtn {
  padding: 0.5em 3em;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-color);
  background: transparent;
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--primary-color) !important;
}

.tryBtn:hover {
  transition: 0.2s ease;
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color);
}
